<main class="{{styles.changeData}}">
    <div>{{{back_icon}}}</div>
       <div>
          {{{avatar}}}
           <div>{{first_name}}</div>
            <div>
                <label>Почта</label>
                {{{editemail}}}
           </div>           
           <div>
                <label>Логин</label>
                {{{editlogin}}}           
          </div>           
           <div>
                <label>Имя</label>
                {{{editfirst_name}}}
           </div>                     
           <div>
                <label>Фамилия</label>
                {{{editsecond_name}}}
           </div>                    
           <div>
                <label>Телефон</label>
                {{{editphone}}}
           </div>    
           <div>
           {{{button_exit}}}
           </div>
    </div>
</main>
