{{#if path}}
    <div
        class="{{styles.avatar}}"
        width={{width}}
        height={{height}}
        style='width: {{width}}px;
                height: {{height}}px;
                background: url({{path}}) top center;
                background-size: cover;'
        >
    </div>
{{/if}}
