<li class="{{styles.chatItem}} {{#if isSelected }}{{ styles.chatSelected }}{{/if}}">
    {{title}}
    {{#if unread_count }}
        <span class="{{ styles.chatBadge }}">{{unread_count}}</span>
    {{/if}}
</li>
