<main class="{{styles.profile}}">
     {{#if flagNewAvatar}}
        {{{modal}}}
    {{/if}}
    <div>{{{back_icon}}}</div>
       <div>
          <div class="{{styles.avatar}}">
               {{{avatar}}}
          </div>
          <div class="{{styles.field}}">
               <label>Почта</label>
               <div>{{email}}</div>
           </div>           
           <div class="{{styles.field}}">
               <label>Логин</label>
               <div>{{login}}</div>
           </div>           
           <div class="{{styles.field}}">
               <label>Имя</label>
               <div>{{first_name}}</div>
           </div>                     
           <div class="{{styles.field}}">
               <label>Фамилия</label>
               <div>{{second_name}}</div>
           </div>                    
           <div class="{{styles.field}}">
               <label>Телефон</label>
               <div>{{phone}}</div>
           </div>    
           <div>
           {{{button_change_data}}}
           {{{button_change_password}}}
           {{{button_exit}}}
           </div>
    </div>
</main>
