<main class="{{styles.changePassword}}">
    <div>
        <div>
            {{{old_password}}}
            <div> {{error_old_password}}</div>
            {{{new_password}}}
            <div> {{error_password}}</div>
            {{{repeat_new_password}}}
            <div> {{error_repeat_password}}</div> 
        </div> 
        <div>
            {{{save}}}
            {{{link}}}
        </div>      
    </div>
</main>
