<div class="{{styles.modal}}">
    <div class="{{styles.block_modal}}">
        {{{close}}}
        <div class="{{styles.block_title_modal}}">Выберите файл</div>
        <form>
            <div class="{{styles.block_body_modal}}">
                {{{file}}}
            </div> 
            <div class="{{styles.block_footer_modal}}">
                {{{add}}}
            </div>   
        </form>   
    </div>
</div>