
<main class="{{styles.login}}">
    <div>
        <div >Вход</div>
        <div>
            {{{login}}}
            {{{password}}}
        </div> 
        <div>
            {{{button}}}
            {{{link}}}
        </div>      
    </div>
</main>
