<div class="{{styles.modal}}">
    <div class="{{styles.blockModal}}">
        {{{close}}}
        <div class="{{styles.blockTitleModal}}">Добавить пользователя</div>
        <div class="{{styles.blockBodyModal}}">
            {{{title}}}
            {{{login}}}
        </div> 
        <div class="{{styles.blockFooterModal}}">
            {{{add}}}
        </div>      
    </div>
</div>
