<div class="{{styles.header}}">
    <div class="{{styles.photo}}"></div>
    <div class="{{styles.username}} text-bold">{{ activeChatTitle }}</div>
    <div>{{{Button label="Добавить пользователя" onClick=onAddUser}}}</div>
    <div>{{{Button label="Удалить чат" onClick=onDelete}}}</div>
</div>