<main class="registerWrapper">
    <form class="registerContainer">
        <h3>Регистрация</h3>
        {{{firstName}}}
        {{{secondName}}}
        {{{emailInput}}}
        {{{loginInput}}}
        {{{password}}}
        {{{phone}}}
        {{{login}}}
        {{{haveAccount}}}
    </form>
</main>
