<main class="{{styles.registration}}">
    <div>
        <div>Регистрация</div>
        <div>
          {{{email}}}
          <div> {{error_email}}</div>
          {{{login}}}
           <div> {{error_login}}</div>
          {{{first_name}}}
           <div> {{error_first_name}}</div>
          {{{second_name}}}
           <div> {{error_second_name}}</div>
          {{{phone}}}
           <div> {{error_phone}}</div>
          {{{password}}}
           <div> {{error_password}}</div>
          {{{repeat_password}}}
           <div> {{error_repeat_password}}</div>            
        </div>
        <div>
            {{{signup}}}
            {{{signin}}}
        </div>
    </div>
</main>

