<main class="registerWrapper">
    <form class="registerContainer">
        <h3>Регистрация</h3>
        <div class="field">
            <label for="email">Почта</label>
            {{{inputEmail}}}
        </div>
        <div class="field">
            <label for="login">Логин</label>
            {{{inputLogin}}}
        </div>
        <div class="field">
            <label for="first_name">Имя</label>
            {{{inputFirstName}}}
        </div>
        <div class="field">
            <label for="second_name">Фамилия</label>
            {{{inputSecondName}}}
        </div>
        <div class="field">
            <label for="phone">Телефон</label>
            {{{inputTelephone}}}
        </div>
        <div class="field">
            <label for="password">Пароль</label>
            {{{inputPassword}}}
        </div>
        <div class="field">
            <label for="passwordAgain">Пароль (еще раз)</label>
            {{{inputPasswordAgain}}}
        </div>
        {{{button}}}
        <a>Войти</a>
    </form>
</main>
